
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.program_id}}" placeholder="BEIT"
            name="program_id">
        <label for="floatingInput">BEIT</label>
    </div>

    <select name="level_id" class="form-control" id="">
        <option >Semester </option>
        <option value="1">Semester First</option>
        <option value="2">Semester Second</option>
        <option value="3">Semester Third</option>
        <option value="4">Semester Fourth</option>
        <option value="5">Semester Fifth</option>
        <option value="6">Semester Sixth</option>
        <option value="7">Semester Seventh</option>
        <option value="8 ">Semester Eighth</option>
    </select>
    {{!-- <button type="submit" class="btn btn-primary">Submit</button> --}}
    <div class="col-6 d-flex justify-content-end">
        <a href="/contact" type="button" class="btn btn-primary 
    align-self-center">Next</a>
    </div>

</div>