<nav aria-label="breadcrumb">
  <div class="container-fluid"></div>
  <ol class="breadcrumb bg-dark text-light p-4">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/adduser">Add User</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/home">home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/logout">logout</a></li>
    <li class="breadcrumb-item active" aria-current="page">hello {{this.id}}</h4>
  </ol>
  <form class="d-flex" method="POST" action="/" novalidate>
    <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
    <button class="btn btn-outline-light" type="submit">Search</button>
  </form>
</nav>
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{alert}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<form class="row g-3 needs-validation" method="POST" action="/adduser" novalidate>
  {{> user-form }}
</form>