 {{#each rows}}
  <div class="row mb-5">
    <div class="col text-center">
      <h3>{{this.level_id}} {{this.program_id}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-hover table-dark" border="1">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{this.level_id}}</th>
            <td>{{this.program_id}}</td>
             
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {{/each}}