 
 <nav aria-label="breadcrumb">
    <div class="container-fluid"></div>
    <ol class="breadcrumb bg-dark text-light p-4">
 <li class="breadcrumb-item active" aria-current="page"><a href="/login">Login</a></li>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-8 mt-5">
            <p class="headline2">Welcome, User!</p>

            <h1><a href="/logout">Log out</a></h1>
        </div>
    </div>
</div>