<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav aria-label="breadcrumb">
        <div class="container-fluid">
            <ol class="breadcrumb bg-dark text-light p-4">
                <li class="breadcrumb-item" aria-current="page">
                    <h5>Welcome {{results.email}}</h5>
                </li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/logout">Log out</a></li>
            </ol>
        </div>
    </nav>
    {{!-- {{#each rows}} --}}

    <form class="row g-3 needs-validation" method="POST" action="/submitstudentdata" novalidate>
        {{> subject-form }}
    </form>
    {{!-- {{/each}} --}}

</body>

</html>